
.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1rem;
    grid-gap: 20px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}

.cart-container{
    background-color: rgba(255, 153, 0, 0.3);
    
}

.review-order-btn{
    outline: none;
    border: none;
    padding: .6rem .8rem;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    color: hotpink;
    background-color: transparent;
    border: 1px solid hotpink;
    transition: all .5s ease-in-out;
}

.review-order-btn:hover{
    background-color: hotpink;
    color: white;
}